# Logs
logs
*.log
npm-debug.log*

# Tmp
tmp
*.tmp

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional npm authentication files
.npmrc

# Optional REPL history
.node_repl_history

# Editors config
.vscode
.idea
.DS_Store

# Environment variables
.pos.override.json
.config.override.json
.env
